@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: lightgray;
    background: url(https://cdn.pixabay.com/photo/2017/03/25/03/18/brick-2172682_1280.jpg) top no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(255, 115, 0);
    font-size: 4rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
}

.news {
    background-color: #fff;
    padding: 30px 0 32px;
}

.news article:nth-of-type(even) {
    background-color: rgb(240, 240, 240);
}

.news article:first-of-type h2::before, .news article:nth-of-type(2) h2::before {
    content: "NEW";
    color: red;
    font-size: 0.6em;
    font-style: oblique;
    vertical-align: top;
}

#best h2::before {
    content: "BEST";
    color: rgb(40, 110, 131);
    font-size: 0.6em;
    vertical-align: top;
}

article {
    width: 768px; 
    margin: 0 auto 0px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article a {
    color: rgb(63, 50, 40);
    text-decoration: none;
}

article a:hover {
    color: rgb(255, 115, 0);
}

article h2 {
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(126, 126, 126);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3rem;
    text-decoration: none;
    text-transform: uppercase;
}

footer a:hover {
    color: rgb(255, 115, 0);
}

.copyright {
    color: rgb(145, 145, 145);
}